/* ChangePassword.css */

.change-password-container h2 {
    text-align: center;
    margin-top: 50px;
}

.change-password-container p {
    text-align: center;
    margin-top: 20px;
    color: #555;
}

.change-password-container ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.change-password-container li {
    margin-bottom: 10px;
    text-align: center;
    color: #777;
}

.change-password-container form {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.change-password-container div {
    margin-bottom: 20px;
}

.change-password-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.change-password-container input[type="password"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.change-password-container .submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.change-password-container .submit-btn:hover {
    background-color: #0056b3;
}
.change-password-container div[style] {
    text-align: center;
    margin-bottom: 20px;
}

.change-password-container .success-message {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding: 20px 40px; 
    background-color: #4CAF50; 
    color: white; 
    border-radius: 5px; 
    font-weight: bold; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); 
    z-index: 1000; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.change-password-container .show {
    opacity: 1; 
}
